In [1]:
# Import libraries for this question here
import pandas as pd
import numpy as np
from collections import Counter # To count rows
import re

In [4]:

news_data = pd.read_csv('D:/ML/abcnews-date-text.csv')

# Print the data frames shape
print(news_data.shape)
# We can see that the data frame is 2 columns with 1,244,184 rows

(1244184, 2)

In [5]:
news_data.head(20)

    publish_date                                      headline_text
0       20030219  aba decides against community broadcasting lic...
1       20030219     act fire witnesses must be aware of defamation
2       20030219     a g calls for infrastructure protection summit
3       20030219           air nz staff in aust strike for pay rise
4       20030219      air nz strike to affect australian travellers
5       20030219                  ambitious olsson wins triple jump
6       20030219         antic delighted with record breaking barca
7       20030219  aussie qualifier stosur wastes four memphis match
8       20030219       aust addresses un security council over iraq
9       20030219         australia is locked into war timetable opp
10      20030219  australia to contribute 10 million in aid to iraq
11      20030219  barca take record as robson celebrates birthda...
12      20030219                         bathhouse plans move ahead
13      20030219      big hopes for launceston cycling championship
14      20030219             big plan to boost paroo water supplies
15      20030219             blizzard buries united states in bills
16      20030219     brigadier dismisses reports troops harassed in
17      20030219     british combat troops arriving daily in kuwait
18      20030219         bryant leads lakers to double overtime win
19      20030219           bushfire victims urged to see centrelink

In [6]:
# Find the date range
print("Recent Date:", news_data['publish_date'].max())
print("Oldest Date:", news_data['publish_date'].min())

# Data ranges from 19/02/2003 to 31/12/2021

Recent Date: 20211231
Oldest Date: 20030219

In [7]:
# Check to see if there are any unsual date entries
news_data['publish_date'].apply(lambda x: len(str(x))).value_counts()
# All publish_date entries are 8 digits long

publish_date
8    1244184
Name: count, dtype: int64

In [8]:
# Convert the 'publish_date' column to datetime format
news_data['publish_date'] = pd.to_datetime(news_data['publish_date'], format='%Y%m%d')

# Convert the 'publish_date' column to the desired format 'dd/mm/yyyy'
news_data['publish_date'] = news_data['publish_date'].dt.strftime('%d/%m/%Y')

news_data.head()

  publish_date                                      headline_text
0   19/02/2003  aba decides against community broadcasting lic...
1   19/02/2003     act fire witnesses must be aware of defamation
2   19/02/2003     a g calls for infrastructure protection summit
3   19/02/2003           air nz staff in aust strike for pay rise
4   19/02/2003      air nz strike to affect australian travellers

In [9]:
# Extract day of week (e.g., Monday)
news_data['day_of_week'] = pd.to_datetime(news_data['publish_date'], format='%d/%m/%Y').dt.strftime('%A')

# Extract day (e.g., 19)
news_data['day'] = news_data['publish_date'].apply(lambda x: x.split('/')[0])

# Replace numeric month values with month names
month_names = {
    '01': 'January', '02': 'February', '03': 'March', '04': 'April',
    '05': 'May', '06': 'June', '07': 'July', '08': 'August',
    '09': 'September', '10': 'October', '11': 'November', '12': 'December'
}
news_data['month'] = news_data['publish_date'].apply(lambda x: month_names[x.split('/')[1]])
# Extract year (e.g., 2021)
news_data['year'] = news_data['publish_date'].apply(lambda x: x.split('/')[2])

news_data.head()

,publish_date,headline_text,day_of_week,day,month,year
0,19/02/2003,aba decides against community broadcasting lic...,Wednesday,19,February,2003
1,19/02/2003,act fire witnesses must be aware of defamation,Wednesday,19,February,2003
2,19/02/2003,a g calls for infrastructure protection summit,Wednesday,19,February,2003
3,19/02/2003,air nz staff in aust strike for pay rise,Wednesday,19,February,2003
4,19/02/2003,air nz strike to affect australian travellers,Wednesday,19,February,2003

In [10]:
# Add a new column 'season'
# Define the mapping of months to seasons
month_to_season = {
    'December': 'Summer','January': 'Summer','February': 'Summer',
    'March': 'Autumn','April': 'Autumn','May': 'Autumn',
    'June': 'Winter','July': 'Winter','August': 'Winter',
    'September': 'Spring','October': 'Spring','November': 'Spring'
}

# Add a new column 'season' based on the 'month' column
news_data['season'] = news_data['month'].apply(lambda x: month_to_season.get(x))

news_data.head()

,publish_date,headline_text,day_of_week,day,month,year,season
0,19/02/2003,aba decides against community broadcasting lic...,Wednesday,19,February,2003,Summer
1,19/02/2003,act fire witnesses must be aware of defamation,Wednesday,19,February,2003,Summer
2,19/02/2003,a g calls for infrastructure protection summit,Wednesday,19,February,2003,Summer
3,19/02/2003,air nz staff in aust strike for pay rise,Wednesday,19,February,2003,Summer
4,19/02/2003,air nz strike to affect australian travellers,Wednesday,19,February,2003,Summer

In [13]:
# Import necessary libraries
import matplotlib.pyplot as plt
import gensim
from gensim import corpora
from gensim.models import LdaModel
from gensim import models
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import nltk

#import pyLDAvis.gensim_models as gensimvis

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\phani\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [14]:
# Tokenise the headlines and remove punctuation and stopwords
tokenizer = RegexpTokenizer(r'\w+')
stop_words = set(stopwords.words('english'))

# Create a list
texts = []
for headline in news_data['headline_text']:
    tokens = tokenizer.tokenize(headline.lower())
    tokens = [word for word in tokens if word not in stop_words]
    texts.append(tokens)
    
# Create a dictionary mapping words to their integer IDs
dictionary = corpora.Dictionary(texts)

# Create a document-term matrix (corpus)
corpus = [dictionary.doc2bow(text) for text in texts]

In [15]:
# Specify the number of topics
num_topics = 20

# Build the LDA model
lda_model = LdaModel(corpus=corpus, id2word=dictionary, num_topics=num_topics, random_state=42)

In [16]:
# Document list
document = news_data.loc[0, 'headline_text'].split()

# Convert the document to a bag-of-words representation using the dictionary
doc_bow = dictionary.doc2bow(document)

# Get the topic distribution for the document
topic_distribution = lda_model.get_document_topics(doc_bow)

In [17]:
# Print the topics and their top words
for topic_num, topic_words in lda_model.show_topics(num_topics=num_topics, num_words=10, formatted=False):
    print(f"Topic {topic_num + 1}:")
    for word, prob in topic_words:
        prob_percentage = prob * 100
        print(f"{word}: {prob_percentage:.2f}%")
    print()

Topic 1:
new: 20.10%
court: 4.42%
live: 4.24%
charged: 3.53%
hotel: 3.18%
residents: 2.65%
children: 2.37%
industry: 2.29%
black: 2.20%
zealand: 1.98%

Topic 2:
queensland: 13.77%
death: 5.97%
scott: 5.22%
get: 3.26%
speaks: 3.06%
president: 2.96%
alleged: 2.87%
act: 2.72%
white: 1.85%
takes: 1.73%

Topic 3:
wa: 11.67%
house: 4.40%
north: 3.96%
australians: 3.58%
attack: 3.28%
child: 3.13%
war: 2.70%
future: 2.14%
bushfires: 2.04%
protesters: 2.03%

Topic 4:
us: 16.86%
program: 3.30%
young: 3.28%
warns: 2.30%
food: 2.12%
wednesday: 1.88%
makes: 1.80%
worker: 1.73%
plane: 1.60%
festival: 1.55%

Topic 5:
sydney: 10.46%
restrictions: 6.31%
year: 5.07%
dies: 2.75%
call: 2.51%
wins: 2.44%
darwin: 2.40%
old: 2.37%
emergency: 2.34%
support: 2.16%

Topic 6:
australia: 19.15%
government: 8.48%
election: 6.83%
minister: 4.45%
set: 2.17%
second: 2.04%
deal: 1.74%
numbers: 1.70%
trade: 1.68%
make: 1.60%

Topic 7:
police: 11.62%
man: 7.55%
murder: 3.54%
trial: 3.02%
test: 2.64%
island: 2.41%
christmas: 2.31%
report: 2.23%
work: 1.86%
sex: 1.73%

Topic 8:
says: 16.29%
fire: 6.71%
first: 6.45%
case: 5.04%
pm: 3.28%
labor: 3.09%
crisis: 2.11%
warning: 2.03%
party: 1.89%
killed: 1.83%

Topic 9:
victoria: 11.06%
health: 7.12%
news: 6.39%
victorian: 3.86%
change: 3.16%
regional: 3.04%
nrl: 2.50%
may: 2.49%
plan: 2.40%
rise: 2.40%

Topic 10:
19: 16.78%
border: 5.01%
coast: 4.93%
perth: 3.34%
gold: 3.11%
woman: 2.76%
dead: 2.72%
found: 2.64%
students: 2.06%
western: 2.02%

Topic 11:
melbourne: 8.00%
crash: 4.34%
qld: 4.04%
hospital: 3.66%
car: 3.54%
beach: 2.01%
protest: 1.98%
cricket: 1.88%
baby: 1.83%
driver: 1.82%

Topic 12:
sa: 6.42%
one: 5.64%
adelaide: 4.44%
federal: 4.38%
travel: 3.24%
high: 3.21%
business: 2.82%
concerns: 2.51%
take: 2.28%
international: 2.12%

Topic 13:
cases: 9.67%
home: 4.87%
records: 4.82%
people: 4.73%
national: 4.04%
indigenous: 3.58%
school: 3.27%
three: 2.76%
help: 2.75%
community: 2.74%

Topic 14:
back: 6.44%
workers: 4.85%
testing: 4.70%
ban: 3.72%
four: 3.65%
latest: 3.09%
go: 2.72%
drug: 2.24%
super: 2.15%
men: 2.09%

Topic 15:
china: 8.34%
south: 7.70%
australias: 4.40%
west: 3.43%
hit: 3.28%
close: 2.56%
power: 2.45%
east: 2.09%
country: 2.07%
five: 1.97%

Topic 16:
australian: 11.16%
world: 4.07%
canberra: 3.94%
afl: 3.57%
record: 3.29%
life: 2.87%
missing: 2.76%
announces: 2.62%
farmers: 2.51%
fight: 2.10%

Topic 17:
vaccine: 7.73%
two: 5.60%
could: 4.39%
years: 4.32%
open: 4.11%
women: 3.57%
time: 2.94%
final: 2.64%
tasmanian: 2.27%
risk: 2.07%

Topic 18:
day: 6.17%
family: 4.53%
care: 4.26%
aged: 3.82%
say: 2.62%
budget: 2.57%
council: 2.35%
end: 2.25%
media: 2.22%
violence: 2.13%

Topic 19:
nt: 7.31%
brisbane: 5.20%
state: 4.70%
uk: 3.80%
guilty: 2.82%
india: 2.80%
win: 2.63%
shows: 2.54%
return: 2.39%
chinese: 2.38%

Topic 20:
nsw: 15.49%
calls: 4.21%
bushfire: 3.77%
premier: 3.25%
former: 2.96%
royal: 2.44%
water: 2.42%
commission: 2.07%
inquiry: 1.93%
public: 1.81%

In [18]:
print("Topic Distribution for the Document:")
for topic, prob in topic_distribution:
    dist_percentage = prob * 100
    print(f"Topic {topic + 1}: {dist_percentage:.2f}%")

Topic Distribution for the Document:
Topic 1: 1.00%
Topic 2: 1.00%
Topic 3: 1.00%
Topic 4: 1.00%
Topic 5: 1.00%
Topic 6: 1.00%
Topic 7: 1.00%
Topic 8: 1.00%
Topic 9: 1.00%
Topic 10: 1.00%
Topic 11: 1.00%
Topic 12: 1.00%
Topic 13: 21.00%
Topic 14: 1.00%
Topic 15: 1.00%
Topic 16: 1.00%
Topic 17: 60.99%
Topic 18: 1.00%
Topic 19: 1.00%
Topic 20: 1.00%